useDynLib(nCompiler)
export(rcpp_hello_world)
export("NCinternals<-")
export("NFinternals<-")
export("nimDeref<-")
export(NCinternals)
export(NFinternals)
export(arg2nimRef)
export(build_compiled_nClass)
export(buildPackage)
export(C_nC_derivClass)
export(cloglog)
export(check_Rcpp_for_nCompiler)
export(cpp_nCompiler)
export(cube)
export(dcar_normal)
export(dcat)
export(dconstraint)
export(ddirch)
export(deregisterDistributions)
export(dexp_nimble)
export(dflat)
export(dhalfflat)
export(dinterval)
export(dinvgamma)
export(dinvwish_chol)
export(dmnorm_chol)
export(dmulti)
export(dmvt_chol)
export(documentNFunction)
export(documentNClass)
export(dsqrtinvgamma)
export(dt_nonstandard)
export(dwish_chol)
export(erasePackage)
export(expit)
export(getDimension)
export(getDistributionInfo)
export(get_nOption)
export(getParamNames)
export(getType)
export(icloglog)
export(ilogit)
export(iprobit)
export(installLocalDLLpackage)
export(isCompiledNCgenerator)
export(isDiscrete)
export(isNC)
export(isNCgenerator)
export(isNF)
export(isUserDefined)
export(logfact)
export(loggam)
export(logit)
export(method)
export(new.loadedObjectEnv) ## needed for Rcpp::Function access in loadedObjectEnv.h
export(nC) ## c()
export(nC_derivClass)
export(nCompile_nClass)
export(nCompile_nFunction)
export(nDeparse)
export(nimDeref)
export(nDerivs)
export(nDim)
export(nimEigen)
export(nimRef)
export(nimSvd)
export(nType)
export(nCompile)
export(nClass)
export(nFunction)
export(nNumeric)
export(nInteger)
export(nLogical)
export(nMatrix)
export(nArray)
export(nOptions)
export(nParse)
export(parallel_for)
export(parallel_reduce)
export(passByReference)
export(pexp_nimble)
export(phi)
export(pinvgamma)
export(pqDefined)
export(probit)
export(pt_nonstandard)
export(qexp_nimble)
export(qinvgamma)
export(qt_nonstandard)
export(rcar_normal)
export(rcat)
export(rconstraint)
export(rdirch)
export(read_nClass)
export(registerDistributions)
export(rexp_nimble)
export(rflat)
export(rhalfflat)
export(rinterval)
export(rinvgamma)
export(rinvwish_chol)
export(rmnorm_chol)
export(rmulti)
export(rmvt_chol)
# export(rsqrt)
export(rsqrtinvgamma)
export(rt_nonstandard)
export(rwish_chol)
export(serialize_nComp_object)
export(deserialize_nComp_object)
export(save_nClass)
export(set_nOption)
export(setup_nCompLocal)
export(setup_wrt)
export(square)
export(value)
export("value<-")
export(writeCode)
export(writePackage)
export(asSparse)
export(asDense)
export(nDiag)
export(nMul)
export(nChol)